/* VARIABLES */

:root{
  /* --main-text-color : #fff; */
  /* --main-bg-color : #fff; */
  /* --main-font-size : 16px; */
  /* --main-font-weight : 400; */
  /* --main-line-height : 1.5; */
}

/* fraunces-regular - latin */
@font-face {
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 400;
  src: local(''),
  url('../fonts/fraunces-v23-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('../fonts/fraunces-v23-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* fraunces-700 - latin */
@font-face {
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 700;
  src:
  url('../fonts/fraunces-v23-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('../fonts/fraunces-v23-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* fraunces-900 - latin */
@font-face {
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 900;
  src:
  url('../fonts/fraunces-v23-latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('../fonts/fraunces-v23-latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* barlow-regular - latin */
@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  src: local(''),
  url('../fonts/barlow-v12-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('../fonts/barlow-v12-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* barlow-600 - latin */
@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 600;
  src:
  url('../fonts/barlow-v12-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('../fonts/barlow-v12-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}



/* GENERAL */

html{
  height: 100%;
  box-sizing: border-box;
}

img{
  display: block;
  height: auto;
}

ul,
li{
  margin: 0;
  padding: 0;
}

a{
  display: inline-block;
  text-decoration: none;
}

body{
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Barlow';
  font-size: 16px;
  /* font-weight: 400; */
  /* line-height: var(--main-line-height); */
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* CONTAINER */

.container{
  /* width: 100%; */
  max-width: 1432px;
  margin: 0 auto;
  padding: 0 20px;
}

/* STICKY-FOOTER */
.site-main{
  flex-grow: 1;
}


.site-header{
  width: 100%;
  min-width: 320px;
  background-color: #49BCF1;
}

.site-header__box{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 32px;
  padding-bottom: 50px;
}

.site-header__info{
  position: absolute;
  display: none;
  width: 100%;
  min-width: 280px;
  padding-top: 39px;
  padding-bottom: 39px;
  top: 100%;
  background-color: #FFFCF8;
  z-index: 10;
}

.site-header__info--active .site-header__info{
  display: block;
}

.site-header__info--active .site-header__hamburger::before{
  display: block;
}

.site-header__hamburger{
  position: relative;
  background-image: url("../images/hamburger.svg");
  background-repeat: no-repeat;
  width: 24px;
  height: 18px;
  border: none;
  background-color: transparent;
}

.site-header__hamburger::before{
  display: none;
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  right: 0;
  top: 38px;
  border: 34px solid transparent;
  border-right-color: #FFFCF8;
}

.site-header__list{
  display: flex;
  flex-direction: column;
  list-style: none;
  text-align: center;
}

.site-header__item{
  margin-bottom: 32px;
}

.site-header__link{
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: -0.142857px;
  color: #808397;
}

.site-header__button__box{
  width: 140px;
  margin: 0 auto;
}

.site-header__button{
  text-align: center;
  padding: 16px 32px;
  background: #FBD600;
  border-radius: 28px;
  font-family: 'Fraunces';
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: -0.107143px;
  text-transform: uppercase;
  color: #24303E;
}


.hero{
  position: relative;
  width: 100%;
  min-width: 320px;
  padding-bottom: 420px;
  background-image: url("../images/hero-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero::before{
  position: absolute;
  content: "";
  background-image: url("../images/hero-arrow.svg");
  background-repeat: no-repeat;
  width: 41px;
  height: 119px;
  top: 300px;
  left: 0;
  right: 0;
  margin: 0 auto;
  animation: identifier 3s infinite;
}

.hero__box{
  padding-top: 40px;
}

.hero__title{
  margin: 0;
  font-family: 'Fraunces';
  font-weight: 900;
  font-size: 40px;
  line-height: 49px;
  text-align: center;
  letter-spacing: 6.25px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.hero__link{
  position: relative;
  width: 100%;
  min-width: 320px;
  text-align: center;
}

.card__list{
  display: flex;
  flex-direction: column;
}

.card__item{
  display: block;
}

.card-wrapper{
  width: 100%;
  max-width: 1520px;
  margin: 0 auto;
}

.card-info{
  width: 100%;
  min-width: 320px;
  margin: 0 auto;
  padding: 64px 0px;
  text-align: center;
}

.card__image{
  width: 100%;
  max-width: 320px;
  margin: 0 auto;
}

.card__mobile{
  width: 100%;
  max-width: 320px;
  margin: 0 auto;
}

.card__title{
  width: 100%;
  min-width: 320px;
  margin: 0 auto;
  margin-bottom: 24px;
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 39px;
  text-align: center;
  letter-spacing: -0.228571px;
  color: #24303E;
}

.card__desc{
  width: 100%;
  max-width: 320px;
  margin: 0 auto;
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  letter-spacing: -0.128571px;
  color: #808397;
}

@keyframes identifier{
  0%{
    transform: translateY(0);
  }
  50%{
    transform: translateY(40px);
  }
  
  100%{
    transform: translateY(0);
  }
}

.card__link-box{
  background-image: url("../images/link-after-unhover.svg");
  background-repeat: no-repeat;
  background-size: 136px 10px;
  background-position: calc(50% + -1px) calc(50% + 24px);
}

.card__link-box:hover{
  background-image: url("../images/link__after.svg");
}

.card__link-box-second{
  background-image: url("../images/link-red-unhover.svg");
  background-repeat: no-repeat;
  background-size: 136px 10px;
  background-position: calc(50% + -1px) calc(50% + 24px);
}

.card__link-box-second:hover{
  background-image: url("../images/link-red-hover.svg");
}


.card__link{
  margin-top: 32px;
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 900;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #24303E;
}



.card__link::after:hover{
  opacity: 1;
}

.card__desktop{
  display: none;
}



.card__two-list{
  display: flex;
  flex-direction: column;
  list-style: none;
}

.card__two-item{
  width: 100%;
  min-width: 320px;
  padding-top: 398px;
  padding-bottom: 59px;
  text-align: center;
  background-image: url("../images/cherry-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.card__two-item:nth-child(2){
  background-image: url("../images/mandarin-mobile.jpg");
}

.card__two__box{
  width: 100%;
  max-width: 320px;
  text-align: center;
  margin: 0 auto;
}

.card__two__heading{
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 900;
  font-size: 28px;
  line-height: 35px;
  text-align: center;
  letter-spacing: -0.2px;
  color: #24554A;
}

.card__two__desc{
  font-weight: 600;
  line-height: 27px;
  text-align: center;
  letter-spacing: -0.114286px;
  color: #24554A;
}



.comment{
  padding-top: 64px;
  padding-bottom: 86px;
}

.comment-heading{
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 4px;
  color: #A7AAAD;
}

.comment-list{
  display: flex;
  flex-direction: column;
  list-style: none;
}

.comment-item{
  position: relative;
  margin-top: 168px;
  text-align: center;
}

.comment-item::before{
  position: absolute;
  top: -90px;
  left: 0;
  right: 0;
  width: 72px;
  height: 72px;
  background-image: url("../images/comment-one.jpg");
  background-repeat: no-repeat;
  margin: 0 auto;
  border-radius: 50%;
  content: "";
}

.comment-item:nth-child(2):before{
  background-image: url("../images/comment-two.jpg");
}

.comment-item:nth-child(3):before{
  background-image: url("../images/comment-three.jpg");
}

.comment-desc{
  margin-bottom: 32px;
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  letter-spacing: -0.128571px;
  color: #5B636D;
}

.comment-title{
  margin-bottom: 9px;
  font-family: 'Fraunces';
  font-weight: 900;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  letter-spacing: -0.128571px;
  color: #24303E;
}


.comment-position{
  font-weight: 600;
  font-size: 14px;
  line-height: 25px;
  text-align: center;
  letter-spacing: -0.1px;
  color: #A7AAAD;
}


.creative-list{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.creative-item{
  width: 50%;
}

.creative-mobile-image{
  width: 100%;
  max-width: 769px;
}

.creative-desktop-image{
  display: none;
}


.site-footer{
  background-color: #90D4C6;
  padding-top: 64px;
  padding-bottom: 80px;
}

.site-footer__logo{
  width: 170px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.site-footer__box{
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 320px;
  margin: 0 auto;
  text-align: center;
}

.site-footer__list{
  display: flex;
  align-items: center;
  list-style: none;
  margin-bottom: 88px;
}

.site-footer__item{
  width: 100%;
  max-width: 320px;
  margin: 0 auto;
  margin-right: 57px;
}

.site-footer__item:last-child{
  margin-right: 0;
}

.site-footer__link{
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: -0.128571px;
  color: #458D7E;
}

.site-footer__link:hover{
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: -0.128571px;
  color: #fff;
}


.site-footer__social{
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.site-footer__social-item{
  margin-right: 28px;
}

.site-footer__social-item:last-child{
  margin-right: 0;
}

.site-footer__social-link{
  color: #2C7566;
}

.site-footer__social-link:hover{
  color: #fff;
}

@media screen and (min-width: 573px){
  .card__two-list{
    display: flex;
    flex-direction: column;
    list-style: none;
  }
  
  .card__two-item{
    width: 100%;
    min-width: 320px;
    padding-top: 398px;
    padding-bottom: 59px;
    text-align: center;
    background-image: url("../images/cherry.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  
  .card__two-item:nth-child(2){
    background-image: url("../images/mandarin.jpg");
  }
  
  .card__two__box{
    width: 100%;
    max-width: 320px;
    text-align: center;
    margin: 0 auto;
  }
  
  
  .hero{
    position: relative;
    width: 100%;
    min-width: 320px;
    padding-bottom: 420px;
    background-image: url("../images/hero-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  
  .hero::before{
    position: absolute;
    content: "";
    background-image: url("../images/hero-arrow.svg");
    background-repeat: no-repeat;
    width: 41px;
    height: 119px;
    top: 300px;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  
  .hero__box{
    padding-top: 40px;
  }
  
  .hero__title{
    width: 100%;
    max-width: 327px;
    margin: 0 auto;
    font-family: 'Fraunces';
    font-weight: 900;
    font-size: 48px;
    line-height: 49px;
    text-align: center;
    letter-spacing: 6.25px;
    text-transform: uppercase;
    color: #FFFFFF;
  }
  
  .hero__link{
    position: relative;
    width: 100%;
    min-width: 320px;
    text-align: center;
  }
}


@media screen and (min-width: 600px){
  .site-footer__list{
    display: flex;
    width: 300px;
    margin: 0 auto;
    align-items: center;
    list-style: none;
    margin-bottom: 88px;
  }
  
  .site-footer__item{
    margin-right: 57px;
  }

  .hero{
    border-collapse: collapse;
    position: relative;
    width: 100%;
    min-width: 320px;
    padding-bottom: 420px;
    background-image: url("../images/hero-bg-desktop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  
  .hero::before{
    position: absolute;
    content: "";
    background-image: url("../images/hero-arrow.svg");
    background-repeat: no-repeat;
    width: 41px;
    height: 119px;
    top: 251px;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
}


@media screen and (min-width: 769px){
  .creative-list{
    display: flex;
    list-style: none;
  }
  
  .creative-item{
    width: 25%;
  }
  
  .creative-desktop-image{
    width: 100%;  
    max-width: 769px;
  }
  
  .creative-mobile-image{
    display: none;
  }

  .creative-desktop-image{
    display: block;
  }





  .comment{
    padding-top: 160px;
    padding-bottom: 160px;
  }
  
  .comment-heading{
    font-family: 'Fraunces';
    font-weight: 900;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 5px;
    color: #A7AAAD;
  }
  
  .comment-list{
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
  }
  
  .comment-item{
    width: 100%;
    max-width: 350px;
    margin-right: 30px;
    position: relative;
    margin-top: 211px;
    text-align: center;
  }

  .comment-item:last-child{
    margin-right: 0;
  }
  
  .comment-item::before{
    position: absolute;
    top: -90px;
    left: 0;
    right: 0;
    width: 72px;
    height: 72px;
    background-image: url("../images/comment-one.jpg");
    background-repeat: no-repeat;
    margin: 0 auto;
    border-radius: 50%;
    content: "";
  }
  
  .comment-item:nth-child(2):before{
    background-image: url("../images/comment-two.jpg");
  }
  
  .comment-item:nth-child(3):before{
    background-image: url("../images/comment-three.jpg");
  }
  
  .comment-desc{
    margin-bottom: 69px;
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    letter-spacing: -0.128571px;
    color: #5B636D;
  }
  
  .comment-title{
    margin-bottom: 9px;
    font-family: 'Fraunces';
    font-weight: 900;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    letter-spacing: -0.128571px;
    color: #24303E;
  }
  
  
  .comment-position{
    font-weight: 600;
    font-size: 14px;
    line-height: 25px;
    text-align: center;
    letter-spacing: -0.1px;
    color: #A7AAAD;
  }







  .card__two-list{
    display: flex;
    flex-direction: row;
    list-style: none;
  }
  
  .card__two-item{
    width: 100%;
    min-width: 320px;
    padding-top: 398px;
    padding-bottom: 59px;
    text-align: center;
    background-image: url("../images/cherry.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  
  .card__two__box{
    width: 100%;
    max-width: 320px;
    text-align: center;
    margin: 0 auto;
  }
  
  .card__two__heading{
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 28px;
    line-height: 35px;
    text-align: center;
    letter-spacing: -0.2px;
    color: #24554A;
  }
  
  .card__two__desc{
    font-weight: 600;
    line-height: 27px;
    text-align: center;
    letter-spacing: -0.114286px;
    color: #24554A;
  }
  
  
  
  
  
  
  .card__list{
    display: flex;
    flex-direction: column;
  }
  
  .card__item{
    display: flex;
    flex-direction: row-reverse;
  }
  
  .card__item:nth-child(2){
    flex-direction: row;
  }
  
  .card-info{
    width: 100%;
    min-width: 320px;
    margin: 0 auto;
    padding: 64px 0px;
    text-align: center;
  }
  
  .card__image{
    width: 100%;
    max-width: 320px;
    margin: 0 auto;
  }
  
  .card__mobile{
    display: none;
    width: 100%;
    max-width: 320px;
    margin: 0 auto;
  }
  
  .card__title{
    width: 100%;
    min-width: 320px;
    margin: 0 auto;
    margin-bottom: 24px;
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    letter-spacing: -0.228571px;
    color: #24303E;
  }
  
  .card__desc{
    width: 100%;
    max-width: 320px;
    margin: 0 auto;
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    letter-spacing: -0.128571px;
    color: #808397;
  }
  
  .card__link{
    
    margin-top: 32px;
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #24303E;
  }
  
  
  .card__link-box{
    background-image: url("../images/link-after-unhover.svg");
    background-repeat: no-repeat;
    background-size: 136px 10px;
    background-position: calc(50% + -1px) calc(50% + 24px);
  }
  
  .card__link-box:hover{
    background-image: url("../images/link__after.svg");
  }
  
  .card__link-box-second{
    background-image: url("../images/link-red-unhover.svg");
    background-repeat: no-repeat;
    background-size: 136px 10px;
    background-position: calc(50% + -1px) calc(50% + 24px);
  }
  
  .card__link-box-second:hover{
    background-image: url("../images/link-red-hover.svg");
  }
  
  
  .card__desktop{
    display: block;
    width: 50%;
  }
}


@media screen and (min-width: 935px){
  .site-footer{
    background-color: #90D4C6;
    padding-top: 64px;
    padding-bottom: 80px;
  }
  
  .site-footer__logo{
    width: 170px;
    margin: 0 auto;
    margin-bottom: 40px;
  }
  
  .site-footer__box{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 320px;
    margin: 0 auto;
    text-align: center;
  }
  
  .site-footer__list{
    display: flex;
    width: 300px;
    margin: 0 auto;
    align-items: center;
    list-style: none;
    margin-bottom: 88px;
  }
  
  .site-footer__item{
    margin-right: 57px;
  }
  
  .site-footer__item:last-child{
    margin-right: 0;
  }
  
  .site-footer__link{
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.128571px;
    color: #458D7E;
  }
  
  .site-footer__link:hover{
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.128571px;
    color: #fff;
  }
  
  
  .site-footer__social{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
  }
  
  .site-footer__social-item{
    margin-right: 28px;
  }
  
  .site-footer__social-item:last-child{
    margin-right: 0;
  }
  
  .site-footer__social-link{
    color: #2C7566;
  }
  
  .site-footer__social-link:hover{
    color: #fff;
  }



  .site-header{
    width: 100%;
    min-width: 320px;
    background-color: #49BCF1;
  }
  
  .site-header__nav{
    margin-right: 20px;
  }
  
  .site-header__box{
    position: static;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 32px;
    padding-bottom: 50px;
  }
  
  .site-header__info{
    position: static;
    display: flex;
    align-items: center;
    width: 46%;
    min-width: 280px;
    padding-top: 0px;
    padding-bottom: 0px;
    top: 100%;
    background-color: transparent;
    z-index: 10;
  }
  
  .site-header__hamburger{
    display: none;
  }
  
  .site-header__list{
    display: flex;
    flex-direction: row;
  }
  
  .site-header__item{
    margin-right: 47px;
    margin-bottom: 0px;
  }
  
  .site-header__item:last-child{
    margin-right: 0;
  }
  
  .site-header__link{
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.128571px;
    color: #FFFFFF;
  }
  
  .site-header__button__box{
    width: 140px;
    margin: 0 auto;
  }
  
  .site-header__button{
    text-align: center;
    padding: 16px 32px;
    background: #fff;
    border-radius: 28px;
    font-family: 'Fraunces';
    font-weight: 700;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: -0.107143px;
    text-transform: uppercase;
    color: #24303E;
  }

  .site-header__button:hover{
    background: #78CEF5;
    color: #fff
  }
  
  .hero{
    position: relative;
    width: 100%;
    min-width: 320px;
    padding-bottom: 495px;
    background-image: url("../images/hero-bg-desktop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  
  .hero__title{
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    font-size: 56px;
    line-height: 69px;
    text-align: center;
    letter-spacing: 8.75px;
    text-transform: uppercase;
    color: #FFFFFF;
  }
}



@media screen and (min-width: 1120px){
  .card__list{
    display: flex;
    flex-direction: column;
  }
  
  .card__item{
    display: flex;
    flex-direction: row-reverse;
  }
  
  .card-info{
    width: 100%;
    min-width: 320px;
    margin: 0 auto;
    padding: 64px 136px;
    text-align: start;
  }
  
  .card__image{
    width: 100%;
    max-width: 320px;
    margin: 0 auto;
  }
  
  .card__mobile{
    display: none;
    width: 100%;
    max-width: 320px;
    margin: 0 auto;
  }
  
  .card__title{
    width: 100%;
    max-width: 353px;
    margin: 0 0;
    margin-left: auto;
    margin-right: 120px;
    margin-bottom: 32px;
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 39px;
    text-align: start;
    letter-spacing: -0.228571px;
    color: #24303E;
  }
  
  .card__desc{
    width: 100%;
    max-width: 354px;
    margin: 0 0;
    margin-left: auto;
    margin-right: 120px;
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    text-align: start;
    letter-spacing: -0.128571px;
    color: #808397;
  }
  
  .card__link{
    margin-top: 40px;
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #24303E;
  }
  
  .card__link-box{
    background-image: url("../images/link-after-unhover.svg");
    background-repeat: no-repeat;
    background-size: 136px 10px;
    background-position: calc(50% + -110px) calc(50% + 28px);
  }
  
  .card__link-box:hover{
    background-image: url("../images/link__after.svg");
  }
  
  .card__link-box-second{
    background-image: url("../images/link-red-unhover.svg");
    background-repeat: no-repeat;
    background-size: 136px 10px;
    background-position: calc(50% + -110px) calc(50% + 28px);
  }
  
  .card__link-box-second:hover{
    background-image: url("../images/link-red-hover.svg");
  }
  
  .card__desktop{
    display: block;
    width: 50%;
  }
  
  
  
  
  
  .site-header{
    width: 100%;
    min-width: 320px;
    background-color: #49BCF1;
  }
  
  .site-header__nav{
    margin-right: 47px;
  }
  
  .site-header__box{
    position: static;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 32px;
    padding-bottom: 50px;
  }
  
  .site-header__info{
    position: static;
    display: flex;
    align-items: center;
    width: 43%;
    min-width: 280px;
    padding-top: 0px;
    padding-bottom: 0px;
    top: 100%;
    background-color: transparent;
    z-index: 10;
  }
  
  .site-header__hamburger{
    display: none;
  }
  
  .site-header__list{
    display: flex;
    flex-direction: row;
  }
  
  .site-header__item{
    margin-right: 47px;
    margin-bottom: 0px;
  }
  
  .site-header__item:last-child{
    margin-right: 0;
  }
  
  .site-header__link{
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.128571px;
    color: #FFFFFF;
  }
  
  .site-header__button__box{
    width: 140px;
    margin: 0 auto;
  }
  
  .site-header__button{
    text-align: center;
    padding: 16px 32px;
    background: #fff;
    border-radius: 28px;
    font-family: 'Fraunces';
    font-weight: 700;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: -0.107143px;
    text-transform: uppercase;
    color: #24303E;
  }
}



@media screen and (min-width: 1280px){
  .card__list{
    display: flex;
    flex-direction: column;
  }
  
  .card__item{
    display: flex;
    flex-direction: row-reverse;
  }
  
  .card-info{
    width: 100%;
    min-width: 320px;
    margin: 0 auto;
    padding: 64px 136px;
    text-align: start;
  }
  
  .card__image{
    width: 100%;
    max-width: 320px;
    margin: 0 auto;
  }
  
  .card__mobile{
    display: none;
    width: 100%;
    max-width: 320px;
    margin: 0 auto;
  }
  
  .card__title{
    width: 100%;
    max-width: 353px;
    margin: 0 0;
    margin-left: auto;
    margin-right: 120px;
    margin-bottom: 32px;
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 39px;
    text-align: start;
    letter-spacing: -0.228571px;
    color: #24303E;
  }
  
  .card__desc{
    width: 100%;
    max-width: 354px;
    margin: 0 0;
    margin-left: auto;
    margin-right: 120px;
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    text-align: start;
    letter-spacing: -0.128571px;
    color: #808397;
  }
  
  .card__link{
    
    margin-top: 40px;
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #24303E;
  }
  
  .card__link-box{
    background-image: url("../images/link-after-unhover.svg");
    background-repeat: no-repeat;
    background-size: 136px 10px;
    background-position: calc(50% + -132px) calc(50% + 28px);
  }
  
  .card__link-box:hover{
    background-image: url("../images/link__after.svg");
  }
  
  .card__link-box-second{
    background-image: url("../images/link-red-unhover.svg");
    background-repeat: no-repeat;
    background-size: 136px 10px;
    background-position: calc(50% + -119px) calc(50% + 28px);
  }
  
  .card__link-box-second:hover{
    background-image: url("../images/link-red-hover.svg");
  }
  
  .card__desktop{
    display: block;
    width: 50%;
  }
  
  
  
  
  
  
  
  .site-header{
    width: 100%;
    min-width: 320px;
    background-color: #49BCF1;
  }
  
  .site-header__nav{
    margin-right: 20px;
  }
  
  .site-header__box{
    position: static;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 32px;
    padding-bottom: 50px;
  }
  
  .site-header__info{
    position: static;
    display: flex;
    align-items: center;
    width: 33%;
    min-width: 280px;
    padding-top: 0px;
    padding-bottom: 0px;
    top: 100%;
    background-color: transparent;
    z-index: 10;
  }
  
  .site-header__hamburger{
    display: none;
  }
  
  .site-header__list{
    display: flex;
    flex-direction: row;
  }
  
  .site-header__item{
    margin-right: 47px;
    margin-bottom: 0px;
  }
  
  .site-header__item:last-child{
    margin-right: 0;
  }
  
  .site-header__link{
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.128571px;
    color: #FFFFFF;
  }
  
  .site-header__button__box{
    width: 140px;
    margin: 0 auto;
  }
  
  .site-header__button{
    text-align: center;
    padding: 16px 32px;
    background: #fff;
    border-radius: 28px;
    font-family: 'Fraunces';
    font-weight: 700;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: -0.107143px;
    text-transform: uppercase;
    color: #24303E;
  }
}


@media screen and (min-width: 1470px){
  .card__list{
    display: flex;
    flex-direction: column;
  }
  
  .card__item{
    display: flex;
    flex-direction: row-reverse;
  }
  
  .card__item:nth-child(2){
    flex-direction: row;
  }
  
  .card__item:first-child .card__desktop{
    width: 157%;
  }
  
  .card-info{
    width: 100%;
    min-width: 320px;
    margin: 0 auto;
    padding: 158px 136px;
    text-align: start;
  }
  
  .card-info--two{
    width: 100%;
    max-width: 345px;
    margin: 0 auto;
    padding: 158px 136px;
    text-align: start;
  }
  
  .card__image{
    width: 100%;
    max-width: 320px;
    margin: 0 auto;
  }
  
  .card__mobile{
    display: none;
    width: 100%;
    max-width: 320px;
    margin: 0 auto;
  }
  
  .card__title{
    width: 100%;
    max-width: 366px;
    margin: 0 0;
    margin-left: auto;
    margin-right: 200px;
    margin-bottom: 32px;
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 39px;
    text-align: start;
    letter-spacing: -0.228571px;
    color: #24303E;
  }
  
  .card__desc{
    position: relative;
    width: 100%;
    max-width: 446px;
    margin: 0 0;
    margin-left: auto;
    margin-right: 120px;
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    text-align: start;
    letter-spacing: -0.128571px;
    color: #808397;
  }
  
  .card__link{
    margin-top: 40px;
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #24303E;
  }
  
  .card__link-box{
    background-image: url("../images/link-after-unhover.svg");
    background-repeat: no-repeat;
    background-size: 136px 10px;
    background-position: calc(50% + -229px) calc(50% + 28px);
  }
  
  .card__link-box:hover{
    background-image: url("../images/link__after.svg");
  }
  
  .card__link-box-second{
    background-image: url("../images/link-red-unhover.svg");
    background-repeat: no-repeat;
    background-size: 136px 10px;
    background-position: calc(50% + -115px) calc(50% + 28px);
  }
  
  .card__link-box-second:hover{
    background-image: url("../images/link-red-hover.svg");
  }
  
  
  .card__desktop{
    display: block;
    width: 50%;
  }
}